---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_2JOSq7GDKdN47l&description=Sign%20up%20charge%20for%20ggd%40example.com
    headers:
      Authorization:
      - Bearer sk_test_Hwt3lKIQQIQ7Q4fVwbcJOntX
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\",\n    \"charge\":
        \"ch_2JOSlcvwR53oKp\"\n  }\n}\n"
  recorded_at: Fri, 02 Aug 2013 16:44:51 GMT
recorded_with: VCR 2.5.0
