---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2RrwuZy3Kn0Mou
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Hwt3lKIQQIQ7Q4fVwbcJOntX
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_2RrwuZy3Kn0Mou\",\n  \"created\": 1377416660,\n
        \ \"livemode\": false,\n  \"type\": \"charge.succeeded\",\n  \"data\": {\n
        \   \"object\": {\n      \"id\": \"ch_2RrvNfL3mCgzEN\",\n      \"object\":
        \"charge\",\n      \"created\": 1377416659,\n      \"livemode\": false,\n
        \     \"paid\": true,\n      \"amount\": 999,\n      \"currency\": \"usd\",\n
        \     \"refunded\": false,\n      \"card\": {\n        \"id\": \"card_2Rrvf3fFLALvgn\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 8,\n        \"exp_year\": 2015,\n        \"fingerprint\":
        \"MDPDqQ5D8jnzbtjS\",\n        \"customer\": \"cus_2RrvJ2GLt9gcOI\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      },\n      \"captured\": true,\n      \"balance_transaction\":
        \"txn_2RrwYJMe4FFBXk\",\n      \"failure_message\": null,\n      \"failure_code\":
        null,\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_2RrvJ2GLt9gcOI\",\n
        \     \"invoice\": \"in_2RrvchYABpSCpE\",\n      \"description\": null,\n
        \     \"dispute\": null,\n      \"fee\": 59,\n      \"fee_details\": [\n        {\n
        \         \"amount\": 59,\n          \"currency\": \"usd\",\n          \"type\":
        \"stripe_fee\",\n          \"description\": \"Stripe processing fees\",\n
        \         \"application\": null\n        }\n      ]\n    }\n  },\n  \"object\":
        \"event\",\n  \"pending_webhooks\": 0,\n  \"request\": \"iar_2RrvekIgldL64F\"\n}\n"
  recorded_at: Mon, 26 Aug 2013 02:58:04 GMT
recorded_with: VCR 2.5.0
