---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=7&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Hwt3lKIQQIQ7Q4fVwbcJOntX
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_2Pk2ZIqL78iQYC\",\n  \"livemode\": false,\n  \"created\":
        1376926000,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"card_2Pk2JaZiWTeVZw\",\n    \"object\": \"card\",\n
        \   \"last4\": \"0002\",\n    \"type\": \"Visa\",\n    \"exp_month\": 7,\n
        \   \"exp_year\": 2018,\n    \"fingerprint\": \"PxUXsnDTaGnU4M88\",\n    \"customer\":
        null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Mon, 19 Aug 2013 15:26:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=gold&card=tok_2Pk2ZIqL78iQYC&description=an%20invalid%20subscribe
    headers:
      Authorization:
      - Bearer sk_test_Hwt3lKIQQIQ7Q4fVwbcJOntX
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\"\n  }\n}\n"
  recorded_at: Mon, 19 Aug 2013 15:26:42 GMT
recorded_with: VCR 2.5.0
